.hero {
  width: 100%;
  margin: 10vh auto 7vh auto;
  @include flex($direction: column);
  &__title {
    color: $cool-grey-100;
    font-family: $font-source-sans-pro;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.64px;
    margin-bottom: 16px;
    overflow: hidden;
    span {
      display: inline-block;
    }
  }
  &__subtitle {
    color: $cool-grey-200;
    font-family: $font-inter;
    font-size: 2rem;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
    margin-bottom: 40px;
    overflow: hidden;
    span {
      display: inline-block;
    }
  }
  &__cta {
    @include flex();
    margin-bottom: 24px;
  }
  &__disclaimer {
    color: $cool-grey-200;
    font-family: $font-inter;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.14px;
  }
}
