.preloader {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $white;
  z-index: z($z-indexes, "preloader");
  @include flex();
  &__progress {
    position: absolute;
    bottom: 0;
    height: 4vh;
    background-color: $cool-grey-200;
    width: 0%;
    left: 0;
    @include flex($justify: flex-end);
    transition: 0.3s
      linear(
        0,
        0.0039,
        0.0156,
        0.0352,
        0.0625,
        0.0977,
        0.1407,
        0.1914,
        0.2499,
        0.3164,
        0.3906 62.5%,
        0.5625,
        0.7656,
        1
      );
  }
  &__progress-percentage {
    font-size: 2rem;
    color: $white;
    font-weight: 500;
    padding: 2rem;
  }
  &__words {
    height: 29rem;
    overflow: hidden;
    position: relative;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  &__words-overlay {
    position: absolute;
    inset: 0;
    height: 100%;
    z-index: 2;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9) 49%,
      transparent,
      transparent 59%,
      transparent,
      transparent 55%,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(255, 255, 255, 0.9)
    );
  }
  &__words-inner {
    @include flex($direction: column, $align: flex-start, $gap: 5px);
  }
  &__word {
    display: block;
    font-size: 2rem;
    color: $cool-grey-100;
    font-weight: 500;
    text-align: left;
  }
}
