.l-book-preview-container {
  width: 100%;
  border-radius: 20px;
  background: $cool-grey-100;
  box-shadow: $shadow-grey;
  min-height: 380px;
  padding: 30px 0 30px 105px;
  @include flex($justify: flex-end, $gap: 35px);
  margin-bottom: 50px;
}
.l-book-preview-left {
  @include flex($justify: flex-end, $gap: 21px);
  flex-grow: 1;
}
.l-book-preview-right {
  width: 70%;
  overflow-x: hidden;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(
      270deg,
      #232b34 1.73%,
      rgba(35, 43, 52, 0) 100%
    );
    z-index: z($z-indexes-book-preview, "gradient");
    top: 0;
    left: 0;
  }
}
.l-book-preview-right-inner {
  @include flex($justify: flex-start, $align: flex-start, $gap: 48px);
  width: fit-content;
  overflow-y: hidden;
}
.l-book-preview-right-view-all {
  position: absolute;
  top: 50%;
  right: 47px;
  transform: translateY(-50%);
  z-index: z($z-indexes-book-preview, "view-all");
}
