* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
}
html.no-scroll {
  overflow: hidden;
}
body {
  background-image: url("https://res.cloudinary.com/dexg5uy3d/image/upload/q_auto,f_auto/v1700655293/Artboard_1mdpi_1_tjnpdj.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-height: 100dvh;
  font-family: $font-inter;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
